node_modules/
npm-debug.log*
yarn-error.log*

.next/
out/

.env
.env.local
.env.development
.env.test
.env.production

.editorconfig

.vscode/
*.suo
*.user
*.sln
*.vcxproj

.firebase
.firebaserc
firebase.json