@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
* {
    scrollbar-width: none; /* Firefox */
    scrollbar-color: #13317d #ddd; /* Thumb color and track color for Firefox */
}

*::-webkit-scrollbar {
    width: px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
    background: #ddd; /* Track color */
    border-radius: 10px; /* Rounded corners for the track */
}

*::-webkit-scrollbar-thumb {
    background-color: #5b5c60; /* Thumb color */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 2px solid #ddd; /* Space around the thumb */
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #8e8f91; /* Change thumb color on hover */
}
body {
    background: #D38312;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #A83279, #D38312);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #A83279, #D38312); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
}
.glass{
    background-color: rgba(226, 226, 226, 0.155);
    backdrop-filter: blur(5px);
}